<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recover your TCF Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.tcff.co/accounts/css/forgotpassword-main.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.tcff.co/web-elements/tcf-text-branding.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Roboto:300" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
    <script src="https://cdn.tcff.co/accounts/js/setup.js"></script>
</head>
<body>
    <div class="exterior">
        <div class="middle">
            <div class="center" id="application">
                <object id="jojo" data="https://cdn.tcff.co/web-elements/jojo.svg" type="image/svg+xml">
                    <img src="fallback.png">
                </object>
                <h1 class="tcf-text-logo"></h1>
                <h2 class="roboto" id="initial-header">Let's recover your
                    <span class="tcf">
                        <span id="t">T</span><span id="c">C</span><span id="f">F</span>
                    </span> Account
                </h2>
                <h2 class="hidden roboto" id="secondary-header">An email to reset your password has been sent to:</h2>
                <h3 class="hidden" id="givenEmail">armaangupta01@gmail.com</h3>
                <div id="application-form">
                    <p class="label" id="email-label">Enter your email</p>
                    <input type="email" name="email-input" id="email-input" label="email-input">
                </div>
                <div>
                    <button class="btn" id="confirm-btn"><h3>NEXT</h3>></button>
                </div>
                <h4><a id="rememberPasswordLink">Remember your password?</a></h4>
            </div>
        </div>
    </div>
    <script src="https://cdn.tcff.co/web-elements/tcf-text-branding.js"></script>
    <script src="https://cdn.tcff.co/accounts/js/forgotpassword-app.js"></script>
    <script src="https://cdn.tcff.co/accounts/js/effects.js"></script>    
</body>
</html>